@model NCKH_HANGOSELL.Models.User

@{
    ViewData["Title"] = "Create User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">

            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add User</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="time-table.html">Users</a></li>
                        <li class="breadcrumb-item active">Add User</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <form action="/Admin/UserRoles/CreateUserRoles" method="POST" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="userid" class="form-label">User ID <span class="login-danger">*</span></label>
                                    <input type="id" class="form-control" id="userId" name="UserId" value="@Model?.UserId" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="name" class="form-label">Name <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" name="Name" value="@Model?.Name" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="email" class="form-label">Email <span class="login-danger">*</span></label>
                                    <input type="email" class="form-control" id="email" name="Email" value="@Model?.Email" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="phoneNumber" class="form-label">Phone Number <span class="login-danger">*</span></label>
                                    <input type="tel" class="form-control" id="phoneNumber" name="PhoneNumber" value="@Model?.PhoneNumber">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="dateOfBirth" class="form-label">Date Of Birth <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control datetimepicker" id="dateOfBirth" name="DateOfBirth" value="@Model?.DateOfBirth?.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Status <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="status">
                                        <option disabled>Select Status</option>
                                        <option value="Active">Active</option>
                                        <option value="Disable">Disable</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="roleName" class="form-label">Role Name <span class="login-danger">*</span></label>
                                    <select class="form-control select" name="roleName" id="roleName">

                                        <option disabled>Select Role Name</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Super Admin">Super Admin</option>
                                        <option value="Normal User">Normal User</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="row">
                                    <div class="col-11">
                                        <div class="form-group local-forms">
                                            <label>Profile <span class="login-danger">*</span></label>
                                            <input type="file" class="form-control" accept="image/*" onchange="previewImage(event)" style="height: 45px;" name="image">
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="user-img" style="margin-left: -20px; height: 45px;">
                                            <img id="preview" class="rounded-circle" src="@Model?.Avatar ?? Url.Content(" ~ /images/default.jpg")" alt="Preview Image" />
                                        </div>
                                        @if (ViewBag.Message != null)
                                        {
                                            <div class="alert alert-info">@ViewBag.Message</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <script>
                                function previewImage(event) {
                                    var reader = new FileReader();
                                    reader.onload = function () {
                                        var output = document.getElementById('preview');
                                        output.src = reader.result;
                                        output.style.display = 'block'; // Display the image
                                    }
                                    reader.readAsDataURL(event.target.files[0]); // Read the image file
                                }
                            </script>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="position" class="form-label">Position <span class="login-danger">*</span></label>
                                    <input type="text" class="form-control" id="position" name="Position" value="@Model?.Position">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="joindate" class="form-label">Join Date <span class="login-danger">*</span></label>
                                    <input type="date" class="form-control datetimepicker" id="joindate" name="joindate" value="@Model?.JoinDate?.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label for="password" class="form-label">Password <span class="login-danger">*</span></label>
                                    <input type="password" class="form-control" id="password" name="Password" value="@Model?.Password" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
